<div class="sidenav-header">
  <a class="navbar-brand m-0">
    <span class="ms-1 font-weight-bold">مدیریت مالی</span>
  </a>
</div>
<hr class="horizontal dark mt-0">
<ul class="navbar-nav">
  <li class="nav-item">
    <a class="nav-link active">
      <span class="nav-link-text ms-1">خانه</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link">
      <span class="nav-link-text ms-1">گزارشات</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link ">
      <span class="nav-link-text ms-1">تنظیمات</span>
    </a>
  </li>
</ul>