.min-height-200 {
  height: 200px;
}

.sidenav {
  position: fixed;
  top: 0;
  right: 0;
  width: var(--sidebar-width);
  height: 96vh;
  background-color: var(--sidebar-bg);
  display: flex;
  flex-direction: column;
  z-index: 999;
  // overflow-y: auto;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
}

.main-content {
  margin-right: var(--sidebar-width);
  height: 100vh;
  position: relative;
  z-index: 999;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.container-fluid {
  height: calc(96vh - 70px);
}

app-mobile-menu {
  display: none;
}

@media (max-width: 768px) {
  .sidenav {
    display: none;
  }

  .main-content {
    margin-right: 0;
    margin-bottom: 70px;
  }

  app-mobile-menu {
    display: block;
  }
}