.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 78.5vh;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  color: #4a5568;
  text-decoration: none;
  border-radius: 0.5rem;
  transition: all 0.15s ease;
  cursor: pointer;

   i {
    font-size: 1rem;
    color: #4a5568;
    margin-left: 8px;
    transition: color 0.15s ease;
  }

  &:hover,
  &.active,
  &.router-link-active {
    background-color: #eef4f9;
    color: #2d3748;

    i {
      opacity: 1;
    }
  }
}