@if(label()){
    <label [for]="id()" class="form-label mb-1">{{ label() }}</label>
    @if (required() || ngControl?.control?.hasError('required')) {
        <span class="text-danger">*</span>
    }
}

<div class="select-wrapper">
    <select class="form-select" 
        [ngClass]="{
            'is-valid': validationClass === 'is-valid',
            'is-invalid': validationClass === 'is-invalid'
        }"        
        [disabled]="disabled()" 
        [required]="required()" 
        (change)="onChangeSelect($event)" 
        (blur)="onBlur()">
            <option value="" disabled selected hidden> {{ placeholder() }} </option>
            @for (opt of options(); track opt.value) {
                <option [value]="opt.value" [selected]="opt.value === value()">
                    {{ opt.label }}
                </option>
            }
        </select>
        @if (value()) {
            <i class="fa-solid fa-xmark clear-icon" (click)="clearDate()"></i>
        }
        @else {
            <i class="fa-solid fa-chevron-down dropdown-icon"></i>
        }
</div>
@if (ngControl?.control?.invalid && (ngControl?.control?.dirty || ngControl?.control?.touched)) {
<div class="invalid-feedback">
    {{ errorMessage }}
</div>
}