<div class="d-flex flex-column h-100">
    <div class="shadow-sm mb-3 rounded-4 border-0 bg-white">
        <div class="p-2">
            <div class="row">
                <div class="col-7">
                    <app-text-input class="w-100" placeholder="جستجو" type="search" [(ngModel)]="searchTerm"
                        (ngModelChange)="onSearch()" />
                </div>
                <div class="col-5 text-left">
                    <button class="btn btn-primary mx-1" (click)="excelExport()"><i
                            class="fa-solid fa-file-export"></i></button>
                    <button class="btn btn-outline-primary" (click)="openDataFormModal()">
                        <i class="fa fa-plus"></i>
                        افزودن دسته بندی</button>
                </div>
            </div>
        </div>
    </div>

    <div class="shadow-sm flex-column-fluid rounded-4 border-0 h-100">
        <div class="p-0 border-0 d-flex flex-column h-100">
            <app-table [columns]="columns" [data]="filteredData()" [loading]="loading()" [pageSize]="20">
                <ng-template #actions let-row>
                    <li class="list-group-item border-0 text-right px-2 pointer-cursor"
                        (click)="openDataFormModal(row)">
                        <i class="fa fa-edit text-warning"></i> ویرایش
                    </li>
                    <li class="list-group-item border-0 text-right px-2 pointer-cursor"
                        (click)="delete(row.id)">
                        <i class="fa fa-trash text-danger"></i> حذف
                    </li>
                </ng-template>
            </app-table>
        </div>
    </div>