@if (config()) {
@if(!isMobile()){
<div class="modal-backdrop">
    <div class="modal-container" [ngClass]="config()?.size || 'md'">
        <div class="modal-header">
            <h5 class="fs-6">{{ config()?.title }}</h5>
            <button class="close-btn text-muted" (click)="close()"><i class="fa fa-close"></i></button>
        </div>

        <div class="modal-body">
            <ng-container *ngComponentOutlet="config()?.component!">
            </ng-container>
        </div>
    </div>

</div>
}
@else {
<div class="offcanvas-backdrop">
    <div class="offcanvas-container" [ngClass]="config()?.size || 'md'">
        <div class="offcanvas-header">
            <h5>{{ config()?.title }}</h5>
            <button class="close-btn text-muted" (click)="close()"><i class="fa fa-close"></i></button>
        </div>

        <div class="offcanvas-body">
            <ng-container *ngComponentOutlet="config()?.component!">
            </ng-container>
        </div>
    </div>

</div>
}

}