.bottom-navigation-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    padding: 8px 16px;
}

.bottom-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--bs-primary);
    border-radius: 12px;
    padding: 8px;
}

.nav-item {
    color: #fff;
    text-decoration: none;
    padding: 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    opacity: 0.5;

    i {
        font-size: 14px;
    }

    span {
        font-size: 10px;
    }
}

.nav-item.active {
    opacity: 1;

    i {
        text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
        font-size: 20px;
    }

    span {
        font-size: 12px;
        text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
        opacity: 1 !important;
    }

    margin-bottom: 4px;
}