.pagination {
  gap: 6px;
}

.page-item .page-link {
  border-radius: 8px;
  border: none;
  color: #344767;
  font-weight: 500;
  min-width: 38px;
  text-align: center;
  transition: all 0.2s ease;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.page-item .page-link:hover {
  background-color: #f3f6f9;
  transform: translateY(-1px);
}

.page-item.active .page-link {
  background-color: var(--primary-color);
  color: #fff;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

.page-item.disabled .page-link {
  background-color: #f5f5f5;
  color: #bbb;
  cursor: not-allowed;
}

.page-link {
  padding: 6px 12px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead,
tbody,
tr,
th,
td {
  display: block;
}

thead tr {
  display: flex;
}

tbody {
  height: calc(100vh - 285px);
  overflow-y: auto;
}

tbody tr {
  display: flex;
}

thead th {
  position: sticky;
  top: 0;
  background: #f3f6f9;
  z-index: 10;
}

.table-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.table-container {
  flex: 1;
  overflow-y: auto;
}

thead th {
  position: sticky;
  top: 0;
  z-index: 10;
  background: #f3f6f9;
}

th:first-child {
  border-top-right-radius: 16px;
}

th:last-child {
  border-top-left-radius: 16px;
}

th,
td {
  padding: 12px;
  flex: 1;
}

.table-loading {
  // position: absolute;
  height: 435px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  margin-top: 50px;
}


:host {
  height: 100%;
}


@media (max-width: 768px) {
  tbody {
    height: calc(100vh - 330px);
  }
}