@if(label()){
    <label [for]="id()" class="form-label mb-1">{{ label() }}</label>
    @if (required() || ngControl?.control?.hasError('required')) {
        <span class="text-danger">*</span>
    }
}

<input 
       [id]="id()"
       type="text"
       dir="ltr"
       inputmode="numeric"
       class="form-control"
       [ngClass]="{
           'is-valid': validationClass === 'is-valid',
           'is-invalid': validationClass === 'is-invalid'
       }"
       [placeholder]="placeholder()"
       [value]="displayValue()"
       [disabled]="disabled()"
       [readonly]="readonly()"
       [required]="required()"
       (input)="onInput($event)"
       (blur)="onBlur()" />

@if (ngControl?.control?.invalid && (ngControl?.control?.dirty || ngControl?.control?.touched)) {
<div class="invalid-feedback">
    {{ errorMessage }}
</div>
}