.install-prompt{
    position: fixed;
    z-index: 999;
    bottom: 10px;
    right: 0px;
    width: 98%;
    margin: 0 1% 40px;
    background-color: #fcfcfc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}