<nav class="navbar navbar-expand-lg mb-2">
  <div class="container-fluid">
    <span class="text-white fs-14">{{pageTitle()}}</span>
    <div class="">
      <ul class="navbar-nav me-auto">
        <li class="nav-item d-flex align-items-center ms-2 bg-white rounded-3 pointer-cursor">
          <app-select [(ngModel)]="currentFiscalYear" (ngModelChange)="updateFiscalYear()" [options]="fiscalYears()" class="border-0" />
        </li>
        <app-popover>
          <li class="nav-item d-flex align-items-center p-2 bg-white rounded-3 pointer-cursor" popoverTrigger>
            <i class="fa fa-user ms-sm-1 text-primary fs-6"></i>
            <span class="text-primary">{{ authService.user()?.firstName }} {{authService.user()?.lastName}}</span>
          </li>
          <div popoverContent>
            <ul class="p-2">
              <li class="nav-item d-flex align-items-center mb-3 pointer-cursor" (click)="goToProfile()">
                <i class="fa fa-cog ms-sm-1 text-primary fs-14 opacity-75"></i>
                <span class="text-primary fs-14">تنظیمات</span>
              </li>
              <li class="nav-item d-flex align-items-center pointer-cursor" (click)="logout()">
                <i class="fa fa-sign-out ms-sm-1 text-danger fs-14 opacity-75"></i>
                <span class="text-danger fs-14">خروج</span>
              </li>
            </ul>
          </div>
        </app-popover>
        <li class="nav-item dropdown pe-2 d-flex align-items-center">
          <i class="fa fa-bell text-white fs-5 pointer-cursor"></i>
        </li>
      </ul>
    </div>
  </div>
</nav>