<form class="row m-0 p-0 gy-4" [formGroup]="passwordForm" (ngSubmit)="changePassword()">
    <div class="col-md-12">
        <app-text-input label="رمز عبور فعلی" type="password" formControlName="currentPassword" />
    </div>
    <div class="col-md-12">
        <app-text-input label="رمز عبور جدید" type="password" formControlName="newPassword" />
    </div>

    <div class="col-md-12">
        <app-text-input label="تکرار رمز عبور جدید" type="password" formControlName="confirmPassword" />
    </div>
    <div class="col-md-12 text-left mt-4">
        <button class="btn btn-primary" type="submit">تغییر رمز عبور</button>
    </div>
</form>