@import url('../public/styles/typography.scss');
@import url('../public/styles/layout-dimensions.scss');
@import url('../public/styles/bootstrap-override.scss');


:root {
  --sidebar-width: 240px;
  --sidebar-bg: #ffffff;
  --body-bg: #f8f9fe;
  --body-color: #32325d;
  --transition: all 0.2s ease;
  --bs-primary: #344767;
  --bs-primary-rgb: 52, 71, 103;
  --bs-btn-bg: #344767;
}

[data-theme="blue"] {
  --primary-color: #344767;
  --bs-btn-bg: #344767; 
}

[data-theme="green"] {
  --primary-color: #008000;
  --bs-btn-bg: #008000;
}

[data-theme="red"] {
  --primary-color: #F54927;
  --bs-btn-bg: #F54927;
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--body-bg);
  color: var(--body-color);
  line-height: 1.5;
  overflow-x: hidden;
  margin: 0;
  font-family: "Vazirmatn";
}

.pointer-cursor {
  cursor: pointer;
}

/* ------------------------------ */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #34476724;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #34476724;
}